#==============================================================================
#       qspmsvc.rc
#
#  Copyright (c) 2019 Qualcomm Technologies, Inc.
#  All Rights Reserved.
#  Confidential and Proprietary - Qualcomm Technologies, Inc.
#===============================================================================
service qspmsvc /system/bin/qspmsvc
    class main
    user system
    group system
    disabled

on property:sys.boot_completed=1
    start qspmsvc
